{% extends"layout.html"%}

{% block title %} Index {% endblock %}

{% block head %}{% endblock %}
{% block body %}

<div class="jumbotron text-center">

<marquee behavior="" direction="left"><H1>CodePlateau Banner</H1></marquee>
<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, accusantium magni blanditiis, mollitia cupiditate amet ab voluptates nihil quo vitae ad eum ea aspernatur nemo, id sed tempore ipsam a!</p>
<!-- {% if session.logged_in == NULL %} -->
<a href="/register" class="btn btn-primary btn-lg">Register</a>
<!-- <a href="/login" class="btn btn-success btn-lg">Login</a> -->
{% endif %}
</div>


{% endblock %}